#product-overview {
    background: #ff1b68;
}

h1 {
    color: white;
    font-family: -apple-system, 'Inter', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section-title {
    color: #2ddf5c;
}